*{
    margin:0 auto;
    text-align: center;
}
body {
    margin: 0;
}

h1 {
    font-size: 42pt;
    font-family: sans-serif;
    text-align: center;
    background-color: blue;
    opacity: .5;
}

p {
    color: green;
    position: relative;
    font-size: 24pt;
    background-color: lightgreen;
    opacity: .5;
    width: 60%;
    
}
img{
    
}

a {
    color:red;
    background-color: pink;
    opacity: .5;
}

span {
	background-color: yellow;
    opacity: 1;	
}

form {
    position: relative;
	height: 200px;
	width: 700px; 
	background-color: orange;
    opacity: .9;	
}

input {
	background-color: purple;
    opacity: 1;
}

div {
    position: relative;
	height: 100px;
    top:40%;
	width: 400px;
	background-color: blue;
    opacity: .7;
    	
}